<% content_for :javascript_includes do %>
    <%= javascript_include_tag "bitmapfunctions.js" %>
<% end %>

<h1 id="title">Bitmap translator</h1>

<textarea id="inputbox" rows="5" cols="50" placeholder="Enter value to
be translated from bitmap..."></textarea>
<br\>
<button id="translate">Translate</button>
<button id="clear">Clear</button>
<button id="copy">Copy to clipboard</button><br\>
<p id="error"><p>
<p id="debug"><p>
</body>

</html>
