<% content_for :javascript_includes do %>
    <%= javascript_include_tag "bitmapfunctions.js" %>
<% end %>

<h1 id="title">Bitmap translator</h1>
<p id="description">Add stuff here</p>

<textarea id="inputbox" rows="5" cols="50" placeholder="Enter value to be translated to bitmap..."></textarea><br\>
<button id="translate">Translate</button>
<button id="copy">Copy to clipboard</button><br\>
<p id="error"><p>
